$bc: #FCFCFC;


// .Wrapper {
//     overflow: hidden;
// }

.Container  {
    max-width: 1366px;
    background-color: $bc;
    margin: 0 auto;
    // overflow: hidden;
}

.Content {
    display: flex;
}

